{% extends "bootstrap/base.html" %}

{% set navigation_bar = [
(url_for("homepage"), 'home', 'Home'),
(url_for("processes"), 'processes', 'Processes'),
] 
%}


{% block title %}
Status Page
{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename = 'images/favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% set active_page = active_page|default('index') %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="submit" class="navbar-toggle" data-toggle="collapse" 
                                                  data-target=".navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Status Page</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        {% for href, id, caption in navigation_bar %}
        <li{% if id == active_page %} class="active"{% endif %}>
          <a href="{{ href|e }}">{{ caption|e }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div> 
</div>
{% endblock %}


{% block content %}
<div class="container">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
    <button type="submit" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endfor %}

  {% block page_content %}{% endblock %}
</div>
{% endblock %}
