{% extends 'base.html' %}
{% set active_page = "home" %}

{% block content %}
  <h1>Status Page for {{ box_name }}@{{ int_ip }}</h1>
  <table class="table">
    <tr>
      <th>Date</dt>
        <td>{{ date }}</dd>
    </tr>
    <tr>
      <th>Time</dt>
        <td>{{ time }}</dd>
    </tr>
    <tr>
      <th>System</dt>
        <td>{{ system }}</dd>
    </tr>
    <tr>
      <th>Release</dt>
        <td>{{ release }}</dd>
    </tr>
    <tr>
      <th>External IP</dt>
        <td>{{ ext_ip }}</dd>
    </tr>
    <tr>
      <th>Country</dt>
        <td>{{ country }}</dd>
    </tr>
    <tr>
      <th>Percent CPU Usage</dt>
        <td>{{ percent_cpu }}%</dd>
    </tr>
    <tr>
      <th>Memory Usage</dt>
        <td>{{ virtual_memory[0] }} of {{ virtual_memory[1] }} ({{ percent_virtual_memory }}%)</dd>
    </tr>
    <tr>
      <th>Swap Usage</dt>
          <td>{{ swap_memory[0] }} of {{ swap_memory[1] }} ({{ percent_swap_memory }}%)</dd>
    </tr>
    <tr>
      <th>Uptime</dt>
          <td>{{ uptime }} ({{ loads }})</dd>
    </tr>
  </table>
  {% endblock %}
